// BEM article: https://scalablecss.com/bem-quickstart-guide/
// BEM article: https://scalablecss.com/bem-blocks-within-blocks/
// BEM article: https://scalablecss.com/bem-nesting-grandchild-elements/

$dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%); // color-picked: #ECF2F8;

////////////////////////////////////////
/// MOBILE VERSION
////////////////////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    size: 13px;
    family: "Manrope", sans-serif;
    weight: 500;
  }

  background-color: $light-grayish-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  height: 512px;
  width: 327px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);


  &__image {
    height: 200px;
    width: 327px;
    background-image: url("../images/drawers.jpg");
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__content {
    height: 312px;
    padding-top: 36px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: $dark-grayish-blue;
  }

  &__header {
    font: {
      size: 16px;
      weight: 700;
    }

    height: 72px;
    line-height: 24px;
    letter-spacing: 0.20px;
    color: $dark-grayish-blue;
  }

  &__body {
    margin-top: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: $desaturated-dark-blue;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: 32px;
    height: 40px;
    width: 263px;
    justify-content: space-between;
  }

  &__author {
    display: flex;
    height: 40px; // DESKTOP?
    width: 180px;
  }

  &__portrait {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  &__info {
    margin-left: 16px;
  }

  &__name {
    font-weight: 700;
    letter-spacing: 0.12px;
    line-height: 20px;
  }

  &__date {
    color: $grayish-blue;
    letter-spacing: 0.12px;
    line-height: 20px;
  }

  &__share {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background: url("../images/icon-share.svg") no-repeat center;
    background-color: $light-grayish-blue;
    border-radius: 50%;
    //z-index: 1;
  }

  &__share:hover {
    cursor: pointer;
    background: url("../images/icon-share-white.svg") no-repeat center;
    background-color: $dark-grayish-blue;
  }
}




////////////////////////////////////////
/// DESKTOP VERSION
////////////////////////////////////////


@media screen and (min-width: 760px) {
  .card {
    display: flex;
    flex-direction: row;
    height: 280px;
    width: 730px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &__image {
      height: 280px;
      width: 285px;
      background-image: url("../images/drawers.jpg");
      background-size: cover;
      border-radius: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &__content {
      height: 280px;
      width: 445px;
      padding: 32px 40px; // DESKTOP?
      border-radius: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &__header {
      height: 84px;
      line-height: 28px;
      letter-spacing: 0.25px;
      font-size: 20px;
    }

    &__footer {
      width: 365px;
      margin-top: 20px; // DESKTOP?
    }

    &__author {
      //width: 365px;
    }
  }
}