* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 512px;
  width: 327px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
          box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}

.card__image {
  height: 200px;
  width: 327px;
  background-image: url("../images/drawers.jpg");
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content {
  height: 312px;
  padding-top: 36px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  color: #48556a;
}

.card__header {
  font-size: 16px;
  font-weight: 700;
  height: 72px;
  line-height: 24px;
  letter-spacing: 0.20px;
  color: #48556a;
}

.card__body {
  margin-top: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.12px;
  color: #6d7f97;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  height: 40px;
  width: 263px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 180px;
}

.card__portrait {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.card__info {
  margin-left: 16px;
}

.card__name {
  font-weight: 700;
  letter-spacing: 0.12px;
  line-height: 20px;
}

.card__date {
  color: #9eafc2;
  letter-spacing: 0.12px;
  line-height: 20px;
}

.card__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  background: url("../images/icon-share.svg") no-repeat center;
  background-color: #ecf2f8;
  border-radius: 50%;
}

.card__share:hover {
  cursor: pointer;
  background: url("../images/icon-share-white.svg") no-repeat center;
  background-color: #48556a;
}

.card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transform: translateX(-32px);
          transform: translateX(-32px);
  height: 79px;
  height: 72px;
  margin-top: 5px;
  width: 327px;
  background-color: #48556a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 32px;
}

.card__social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  height: 40px;
  width: 180px;
  border: 2px solid red;
}

.card__share__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  margin-left: auto;
  height: 32px;
  width: 32px;
  border: 2px solid green;
}

@media screen and (min-width: 760px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 280px;
    width: 730px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .card__image {
    height: 280px;
    width: 285px;
    background-image: url("../images/drawers.jpg");
    background-size: cover;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .card__content {
    height: 280px;
    width: 445px;
    padding: 32px 40px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .card__header {
    height: 84px;
    line-height: 28px;
    letter-spacing: 0.25px;
    font-size: 20px;
  }
  .card__footer {
    width: 365px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */